.footer{
  background-color: var(--app-primary-1);
  padding:36px 0;
  &-logo{
    width: 85.936px;
    height: 36px;
  }
  & div{
    align-items: flex-start;
    gap:36px;
  }
}

.foot-nav{
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  row-gap: 8px !important;

  flex-direction: column;
  & div{
    color: var(--text-primary-3);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
   //min-width: 47.5%;
    display: flex;
    flex-direction: row;
    //width: 24%;
    flex: 1;
    & div{
      white-space: nowrap;
      width: 12vw;
      flex:1;
    }

  }
}

@media screen and (max-width: 922px){
  .footer{
    padding-top: 4.61vw;
    & div{
      gap:4.61vw;
    }
    &-logo{
      width: 14.689vw;
      height:  6.15vw;
    }
  }
  .foot-nav{
    flex-direction: row;
    & div{
      flex-direction: column;
      min-width: 46.5%;
      row-gap: 1.03vw !important;
    }
  }
}
@media screen and (max-width: 487px){
  .foot-nav div{
    min-width: 45%;
  }
}

@media screen and (max-width: 480px){
  .foot-nav div{
    font-size:6px;
  }
}