.top-nav{
  background: var(--ui-primary-2);
  width: 100%;
  padding:0 94px;

  height:88px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* top shadow */
  box-shadow: 0px 0px 8px 0px rgba(255, 217, 102, 0.24);



  &-logo{
    width: 85.936px;
    height: 36px;
  }
  &-toggle{
    width: 28px;
    height: 28px;
  }
  & button{
    font-size:14px;
  }
}

.rt{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap:12px;
}

@media screen and (max-width: 922px){
  .top-nav{
    padding:3.33vh;
    &-logo{
      width: 14.689vw;
      height:  6.15vw;
    }
    &-toggle{
      width:4.10vw;
      height: 4.10vw;
      & svg{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .top-nav{
    & button{
      font-size:8px;
    }
  }
}