@font-face {
  font-family: 'Revalia';
  src: url("./img/Revalia-Regular.ttf");
}
@font-face {
  font-family: 'Space Grotesk';
  src: url("./img/SpaceGrotesk-Regular.ttf");
}
body {
  /*width: 1920px;*/
  /*width: 100%;*/
  /*overflow-x: hidden;*/
  -webkit-tap-highlight-color: transparent;/*把高亮颜色设置为透明，也可以使用rgba的形式*/
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/*清除元素默认的内外边距  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk';
  color: var(--text-primary-2);
  line-height: 100%;
}
/*让所有斜体 不倾斜*/
em,
i {
  font-style: normal;
}
/*去掉列表前面的小点*/
li {
  list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
  border: 0;  /*ie6*/
  vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
  cursor: pointer;
  border:0;
}
/*取消链接的下划线*/
a {
  text-decoration: none;
}
a:hover{
}


button,
input {
  /*font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;*/
  /*取消轮廓线 蓝色的*/
  outline: none;
  border: 0;
  background-color:rgba(255,255,255,0);
}


.hide,
.none {
  display: none;
}
/*清除浮动*/
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}

.btn{
  padding:16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 8px;
  gap: 8px;

  white-space: nowrap;

  &-tp1{
    border: 1px solid var(--app-primary-1);
    color: #D0A02B;
  }
  &-tp2{
    border: 1px solid var(--app-primary-1);
    color: var(--app-primary-1);
  }
  &-bgc{
    border: 0.4px solid var(--app-primary-2);
    background: var(--app-primary-1);
  }
}
.text-1{
  color:#fff;
}
.text-2{
  color:#F5F5F5;
}
.text-3{
  color:#EEE;
}
h1,h2,h3{
  font-family: 'Revalia';
  color:var(--text-primary-1);
  font-weight:400;
}
h1{
  font-size:32px;
}
h2{
  font-size: 24px;
}
@media screen and (max-width: 922px){
   .btn{
     padding:2.05vw;
     gap:1.53vw;
     border-radius: 2.05vw;
   }
}
@media screen and (max-width: 480px){
  h1{
    font-size:24px;
  }
  h2{
    font-size:12px;
  }
}